body {
    font-family: 'Titillium Web', sans-serif;
}

#header {
    display: flex;
    /* justify-content: space-evenly; */
    position: sticky;
    align-items: center;
    background-color: royalblue;
    font-weight: 600;
}

.logoMain>img{
    width: 100%;
  
}

.logoCall>img{
    width: 100%;
}

.logoMain{
    width: 10%;
}

.logoCall{
    width: 5%;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#navbar>div{
    display: flex;
    padding: 0px 35px;
}

.left>div{
    margin: 10px;
}

.right>div{
    margin: 10px;
}

a{
    text-decoration: none;
}

hr{
    margin: 0px;
}

#container{
    width: 98%;
    margin: auto;
    background-color: whitesmoke;
}

#features{
    width: 60%;
}